---
title: <%= appName %>’s Boilerplate
---

<h1>{{title}}</h1>

<hr>

<form>
    <div class="form-group">
        <input type="file" id="fileUpload" multiple>
        <div id="fileUploadMessage"></div>
    </div>
</form>

<hr>

<h2>Colors</h2>

<p class="orange"><span style="display:inline-block;width:30px;height:30px;background:#ed3d25"></span> Lorem ipsum Ad quis enim dolor mollit.</p>

<hr>

<h1>First level heading Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation</h1>
<p>Lorem ipsum Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation incididunt nisi in mollit pariatur occaecat non pariatur et magna non nostrud commodo qui proident sed irure officia elit eiusmod est sint nulla esse ut Excepteur esse do dolor do quis ullamco voluptate dolor.</p>
<h2>Second level heading Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation</h2>
<p>Lorem ipsum Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation incididunt nisi in mollit pariatur occaecat non pariatur et magna non nostrud commodo qui proident sed irure officia elit eiusmod est sint nulla esse ut Excepteur esse do dolor do quis ullamco voluptate dolor.</p>
<h3>Third level heading Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation</h3>
<p>Lorem ipsum Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation incididunt nisi in mollit pariatur occaecat non pariatur et magna non nostrud commodo qui proident sed irure officia elit eiusmod est sint nulla esse ut Excepteur esse do dolor do quis ullamco voluptate dolor.</p>
<h4>Fourth level heading Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation</h4>
<p>Lorem ipsum Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation incididunt nisi in mollit pariatur occaecat non pariatur et magna non nostrud commodo qui proident sed irure officia elit eiusmod est sint nulla esse ut Excepteur esse do dolor do quis ullamco voluptate dolor.</p>
<h5>Fifth level heading Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation</h5>
<p>Lorem ipsum Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation incididunt nisi in mollit pariatur occaecat non pariatur et magna non nostrud commodo qui proident sed irure officia elit eiusmod est sint nulla esse ut Excepteur esse do dolor do quis ullamco voluptate dolor.</p>
<h6>Sixth level heading Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation</h6>
<p>Lorem ipsum Nisi mollit dolor culpa deserunt consequat pariatur nulla exercitation incididunt nisi in mollit pariatur occaecat non pariatur et magna non nostrud commodo qui proident sed irure officia elit eiusmod est sint nulla esse ut Excepteur esse do dolor do quis ullamco voluptate dolor.</p>

<hr>

<h2>Paragraphs and links</h2>

<p>
    Lorem
    <a href="http://www.google.com">google</a>
    adipiscing. Quisque ipsum Maecenas Vivamus. <strong>Cursus Curabitur a ridiculus</strong>
    libero <em>pellentesque sem est tempor</em>
    id pellentesque. Tristique ante wisi aliquet consequat orci Praesent consequat tellus platea nibh. Curabitur parturient dui at sed neque enim Nam Sed justo vitae. Urna Curabitur porta mattis interdum Curabitur auctor tortor convallis.
</p>
<p>
    Lorem
    <a href="http://www.google.com">google</a>
    adipiscing ipsum Maecenas Vivamus. <strong>Cursus Curabitur a ridiculus</strong>
    libero <em>pellentesque sem est tempor</em>
    id pellentesque. Tristique ante wisi aliquet consequat orci Praesent consequat tellus platea nibh. Curabitur parturient dui at sed neque enim Nam Sed justo vitae. Urna Curabitur porta mattis interdum Curabitur auctor tortor convallis.
</p>

<hr>

<h2>Inline text elements</h2>

<h3>Small text</h3>
<p>
    <small>This line of text is meant to be treated as fine print.</small>
</p>

<h3>Bold</h3>
<p>
    <strong>rendered as bold text</strong>
</p>

<h3>Italics</h3>
<p>
    <em>rendered as italicized text</em>
</p>

<h3>Alignment classes</h3>
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="text-justify">Justified text. Lorem ipsum Do sint commodo mollit dolore irure deserunt sed fugiat nostrud ad nulla esse nisi voluptate est eu eiusmod est quis Excepteur magna velit in aute ut et laboris ex ea ad pariatur do cupidatat Ut adipisicing pariatur mollit amet voluptate ad anim deserunt Ut enim anim sit dolore anim do cillum labore incididunt sit sunt magna aliqua anim eiusmod enim sint et quis eiusmod nulla magna irure qui exercitation eu adipisicing esse amet fugiat eu amet in ullamco velit sunt dolor dolore tempor dolore fugiat laboris voluptate id magna tempor officia eu sed in nisi nisi id culpa et aliquip velit ut sed do aliqua occaecat esse minim occaecat veniam nisi id et dolor elit do dolor est enim velit deserunt dolore non magna dolore eu aliquip eu mollit nostrud mollit id laborum laborum irure ex amet ut exercitation quis adipisicing eiusmod dolor consequat reprehenderit officia anim et do ea anim minim irure et ad et dolore Excepteur magna et officia mollit Ut.</p>
<p class="text-nowrap">No wrap text.</p>

<h3>Transformation classes</h3>
<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">Capitalized text.</p>

<hr>

<h2>Lists</h2>

<h3>Unordered list</h3>

<h4>Unordered list basic</h4>
<ul>
    <li>Lorem ipsum Adipisicing sit occaecat sunt qui Ut.</li>
    <li>Lorem ipsum Adipisicing proident in aliqua.</li>
    <li>Lorem ipsum Duis esse tempor elit.</li>
    <li>Lorem ipsum Dolor qui in Ut.</li>
    <li>Lorem ipsum Adipisicing voluptate cupidatat laborum et.</li>
</ul>

<h4>Unordered list multi-level</h4>
<ul>
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </li>
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
        <ul>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
            </li>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
                <ul>
                    <li>
                        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
                    </li>
                    <li>
                        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
                    </li>
                    <li>
                        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
                    </li>
                </ul>
            </li>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
            </li>
        </ul>
    </li>
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </li>
</ul>

<h3>Ordered list</h3>

<h4>Ordered list basic</h4>
<ol>
    <li>Lorem ipsum Adipisicing sit occaecat sunt qui Ut.</li>
    <li>Lorem ipsum Adipisicing proident in aliqua.</li>
    <li>Lorem ipsum Duis esse tempor elit.</li>
    <li>Lorem ipsum Dolor qui in Ut.</li>
    <li>Lorem ipsum Adipisicing voluptate cupidatat laborum et.</li>
</ol>

<h4>Ordered list multi-level</h4>
<ol>
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </li>
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
        <ol>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
            </li>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
                <ol>
                    <li>
                        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
                    </li>
                    <li>
                        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
                    </li>
                    <li>
                        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
                    </li>
                </ol>
            </li>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
            </li>
        </ol>
    </li>
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </li>
</ol>

<h4>Unstyled list</h4>

<ul class="list-unstyled">
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </li>
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
        <ul>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
            </li>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
            </li>
            <li>
                Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
            </li>
        </ul>
    </li>
    <li>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </li>
</ul>

<h4>Inline list</h4>

<ul class="list-inline">
    <li>Pellentesque morbi.</li>
    <li>Sed sed mauris</li>
    <li>Facilisi eros tortor.</li>
</ul>

<h3>Definition list</h3>

<dl>
    <dt>7.&nbsp;5.&nbsp;2009</dt>
    <dd>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </dd>
    <dt>14. 7. 2009</dt>
    <dd>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </dd>
    <dt>29. 12. 2010</dt>
    <dd>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </dd>
</dl>

<h4>Horizontal definition list</h4>

<dl class="dl-horizontal">
    <dt>7.&nbsp;5.&nbsp;2009</dt>
    <dd>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </dd>
    <dt>14. 7. 2009 long definition long definition</dt>
    <dd>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </dd>
    <dt>29. 12. 2010</dt>
    <dd>
        Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium. Sed sed mauris nibh nibh tellus facilisi eros tortor aliquet aliquet. Pellentesque morbi tempor Nunc vitae pretium.
    </dd>
</dl>

<hr>

<h2>Tables</h2>

<h3>Basic table</h3>

<table class="table">
    <tbody>
        <tr>
            <th>0</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>1</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>2</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>3</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
    </tbody>
</table>

<h3>Full table</h3>

<table class="table">
    <thead>
        <tr>
            <th>mauris</th>
            <th>facilisi</th>
            <th>aliquet</th>
            <th>pellentesque</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Aurius</th>
            <td colspan="3">4</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <th>0</th>
            <td>
                Wisi hendrerit nibh pretium laoreet sodales id facilisi et ac laoreet.
            </td>
            <td>
                Egestas Nullam convallis Fusce Nulla leo dictum tellus Cras felis massa.
            </td>
            <td>Nibh Sed enim.</td>
        </tr>
        <tr>
            <th>1</th>
            <td>
                Wisi hendrerit nibh pretium laoreet sodales id facilisi et ac laoreet.
            </td>
            <td>Wisi</td>
            <td>
                Wisi hendrerit nibh pretium laoreet sodales id facilisi et ac laoreet.
            </td>
        </tr>
    </tbody>
</table>

<h4>Striped table</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>mauris</th>
            <th>facilisi</th>
            <th>aliquet</th>
            <th>pellentesque</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Aurius</th>
            <td colspan="3">4</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <th>0</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>1</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>2</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>3</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
    </tbody>
</table>

<h4>Bordered table with mouseover</h4>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>mauris</th>
            <th>facilisi</th>
            <th>aliquet</th>
            <th>pellentesque</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Aurius</th>
            <td colspan="3">4</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <th>0</th>
            <td>maurisus</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>1</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>2</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
        <tr>
            <th>3</th>
            <td>mauris</td>
            <td>tellus</td>
            <td>morbi</td>
        </tr>
    </tbody>
</table>

<h4>Responsive table</h4>
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th>0</th>
                <td>Lorem ipsum Aute in ut deserunt Ut et irure et ad est aliquip dolore sint amet veniam Ut ullamco aliqua.</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta facere, fugiat doloremque voluptate velit vel facilis, quas officiis corporis qui molestiae quam, nemo cum eveniet neque autem eaque sit harum.</td>
                <td>Lorem ipsum Ea dolor sint cillum fugiat non cupidatat deserunt laboris adipisicing mollit anim in.</td>
            </tr>
            <tr>
                <th>1</th>
                <td>Lorem ipsum Eiusmod sunt tempor cillum sint tempor commodo dolor veniam consequat ullamco aute minim esse labore aliquip minim nulla ad dolor.</td>
                <td>Totam, quisquam facilis tempore molestiae? Laudantium qui aperiam provident rerum esse, vitae quam incidunt alias ex quisquam, natus fugiat! Dolorum aut, omnis quasi sint debitis atque saepe sapiente voluptate dolore!</td>
                <td>Lorem ipsum Sed do consectetur ad enim sint quis quis sint ut esse commodo anim in eu irure ut officia reprehenderit.</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Lorem ipsum Nisi Duis Ut occaecat quis in reprehenderit cillum aliquip esse tempor non et incididunt et in enim veniam non.</td>
                <td>Laborum reprehenderit cupiditate, voluptatibus, quod et hic necessitatibus repellendus explicabo possimus molestiae quis alias qui. Maiores ipsum sed vel esse, nisi ut ipsam, laboriosam at assumenda, iste cumque repellat! Ipsam.</td>
                <td>Lorem ipsum Id esse cillum in esse esse proident sint eiusmod tempor consectetur deserunt sit id dolor magna dolor.</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Lorem ipsum Ex laboris dolore Excepteur irure aliqua proident irure Duis do est commodo in voluptate enim ex id.</td>
                <td>Atque non mollitia commodi quas provident quidem ea fuga similique, facere doloribus, voluptate qui laudantium tempore repudiandae velit odit quia! Eius, amet? Aliquid unde praesentium veritatis nostrum voluptas enim accusantium.</td>
                <td>Lorem ipsum Irure laboris veniam esse commodo ullamco consequat quis ut irure velit sunt nostrud mollit.</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<h2>Form</h2>

<h3>Basic example</h3>

<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"></div>
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"></div>
<div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox">Check me out</label>
</div>
<button type="submit" class="btn btn-default">Submit</button>

<h3>Inline form</h3>

<form class="form-inline" role="form">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email"></div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"></div>
    <div class="checkbox">
        <label>
            <input type="checkbox">Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
</form>

<h3>Horizontal form</h3>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="email" class="form-control" id="inputEmail1" placeholder="Email"></div>
    </div>
    <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword1" placeholder="Password"></div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox">Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>

<h3>Supported controls</h3>

<h4>Text input</h4>
<input type="text" class="form-control" placeholder="Text input">

<h4>Textarea</h4>
<textarea class="form-control" rows="3"></textarea>

<h4>Checkboxes and radios</h4>
<div class="checkbox">
    <label>
        <input type="checkbox" value="">
        Option one is this and that—be sure to include why it's great
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
        Option one is this and that—be sure to include why it's great
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Option two can be something else and selecting it will deselect option one
    </label>
</div>

<h5>Inline checkboxes</h5>
<label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1">1</label>
<label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2">2</label>
<label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3">3</label>

<h4>Selects</h4>
<p>
    Use the default option, or add
    <code>multiple</code>
    to show multiple options at once.
</p>
<select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>

<select multiple="" class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>

<h4>Static control</h4>
<p>
    When you need to place plain text next to a form label within a horizontal form, use the .form-control-static class on a &lt;p&gt;.
</p>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <p class="form-control-static">email@example.com</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"></div>
    </div>
</form>

<h4>Disabled inputs</h4>
<p>
    Add the disabled attribute on an input to prevent user input and trigger a slightly different look.
</p>
<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">

<h3>Validation states</h3>
<p>
    Bootstrap includes validation styles for error, warning, and success states on form controls. To use, add
    <code>.has-warning</code>
    ,
    <code>.has-error</code>
    , or
    <code>.has-success</code>
    to the parent element. Any
    <code>.control-label</code>
    ,
    <code>.form-control</code>
    , and
    <code>.help-block</code>
    within that element will receive the validation styles.
</p>
<div class="form-group has-success row">
    <div class="col-sm-8">
        <input type="text" class="form-control" id="inputSuccess"></div>
    <div class="col-sm-4">
        <label class="control-label" for="inputSuccess">
            <span class="gicon ok_2"></span>
            Input with success
        </label>
    </div>
</div>
<div class="form-group has-warning row">
    <div class="col-sm-8">
        <input type="text" class="form-control" id="inputWarning"></div>
    <div class="col-sm-4">
        <label class="control-label" for="inputWarning">
            <span class="gicon warning_sign"></span>
            Input with warning
        </label>
    </div>
</div>
<div class="form-group has-error row">
    <div class="col-sm-8">
        <input type="text" class="form-control" id="inputError"></div>
    <div class="col-sm-4">
        <label class="control-label" for="inputError">
            <span class="gicon remove_2"></span>
            Input with error
        </label>
    </div>
</div>

<h3>Help text</h3>
<form role="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <span class="help-block">
            A block of help text that breaks onto a new line and may extend beyond one line.
        </span>
    </div>
</form>

<h2>Buttons</h2>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-link">Link</button>

<h3>Disabled state</h3>
<button type="button" class="btn btn-primary" disabled="disabled">Primary button</button>
<button type="button" class="btn btn-secondary" disabled="disabled">Secondary button</button>
<a href="#" class="btn btn-primary disabled">Primary link</a>
<a href="#" class="btn btn-secondary disabled">Secondary link</a>

<h3>Button tags</h3>
<a class="btn" href="#">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">

<hr>

<h2>Grid</h2>

<h3>2 columns</h3>
<div class="row">
    <div class="col-sm-6">
        <p>Lorem ipsum Minim id consectetur est consectetur in anim cupidatat nisi proident et ea et minim ullamco ullamco in anim sint aute elit labore proident culpa do nostrud quis irure exercitation Duis magna ut ut ad nulla elit nostrud amet esse Excepteur amet occaecat Duis Ut minim adipisicing officia ut occaecat sint id adipisicing quis consequat consectetur dolor anim elit aliqua non est irure mollit magna exercitation enim magna laborum in occaecat aliqua cillum reprehenderit qui laborum sit aliqua Ut aliquip nulla Duis quis sit adipisicing aliquip eiusmod enim amet pariatur cupidatat dolor velit mollit velit enim aliqua pariatur fugiat ea labore ex laboris laboris laboris nisi voluptate in et quis dolor consequat dolore in id adipisicing veniam ut Ut cillum sed adipisicing pariatur aliquip nulla culpa ea exercitation consequat do elit aliqua laboris incididunt sit non sunt quis minim eu fugiat consequat dolore sint amet culpa elit id eu deserunt mollit occaecat.</p>
    </div>
    <div class="col-sm-6">
        <p>Lorem ipsum Dolor ullamco aliquip in ut anim nostrud aute quis irure aliqua quis reprehenderit dolore sint quis id labore occaecat laborum sed officia proident ex Ut reprehenderit tempor veniam enim cillum nulla sed in minim ad ex consequat enim laborum magna non ut tempor Ut laboris reprehenderit minim in quis Excepteur sed non quis sed aliqua consectetur tempor nostrud aliqua irure esse dolor ad pariatur nostrud nulla cupidatat in ut fugiat ea fugiat ad dolor culpa sunt esse nulla velit tempor Duis nulla aliqua in labore quis enim non consequat non aliquip et ea enim ut nulla pariatur aliqua ullamco ex dolore fugiat aliqua dolore ut fugiat sunt mollit incididunt eiusmod commodo pariatur culpa incididunt qui Excepteur enim pariatur dolor in aliquip velit elit non dolor deserunt veniam in sunt commodo elit anim laborum qui eu deserunt sunt veniam exercitation ut cillum laborum laborum velit adipisicing quis Ut sunt proident minim sint aliqua magna non aute ullamco magna eiusmod esse enim sit consequat nisi ex laboris consectetur nulla enim incididunt sint veniam dolor velit ut proident id Ut ut dolore tempor minim laborum dolor id exercitation nisi eiusmod consequat sunt quis occaecat fugiat officia aute eu ad in amet officia enim sed Ut cillum ea consectetur minim minim fugiat consequat irure laborum laborum incididunt non et velit deserunt ut irure quis in dolore laboris laborum non dolor.</p>
    </div>
</div>

<h3>3 columns</h3>
<div class="row">
    <div class="col-sm-4">
        <p>Lorem ipsum Amet Duis dolore cupidatat laboris enim ad eiusmod amet sed sit pariatur occaecat officia labore magna aute voluptate occaecat cupidatat aliqua irure minim qui nisi laborum do nulla incididunt labore Duis voluptate dolore eiusmod cupidatat.</p>
    </div>
    <div class="col-sm-4">
        <p>Lorem ipsum Esse nisi Duis ullamco irure dolor esse dolor et deserunt velit proident est ea sint in sint labore in est do non commodo nisi pariatur occaecat magna commodo eu.</p>
    </div>
    <div class="col-sm-4">
        <p>Lorem ipsum Labore exercitation sit dolore reprehenderit anim dolore Excepteur fugiat veniam cillum in labore fugiat nisi nostrud in dolor esse in proident anim nulla commodo magna ad.</p>
    </div>
</div>

<h3>4 columns</h3>
<div class="row">
    <div class="col-sm-3">
        <p>Lorem ipsum Amet Duis dolore cupidatat laboris enim ad eiusmod amet sed sit pariatur occaecat officia labore magna aute voluptate occaecat cupidatat aliqua irure minim qui nisi laborum do nulla incididunt labore Duis voluptate dolore eiusmod cupidatat.</p>
    </div>
    <div class="col-sm-3">
        <p>Lorem ipsum Esse nisi Duis ullamco irure dolor esse dolor et deserunt velit proident est ea sint in sint labore in est do non commodo nisi pariatur occaecat magna commodo eu.</p>
    </div>
    <div class="col-sm-3">
        <p>Lorem ipsum Labore exercitation sit dolore reprehenderit anim dolore Excepteur fugiat veniam cillum in labore fugiat nisi nostrud in dolor esse in proident anim nulla commodo magna ad.</p>
    </div>
    <div class="col-sm-3">
        <p>Lorem ipsum Labore exercitation sit dolore reprehenderit anim dolore Excepteur fugiat veniam cillum in labore fugiat nisi nostrud in dolor esse in proident anim nulla commodo magna ad.</p>
    </div>
</div>
